extends layout

block titleblock
  //div(style="width: 100%;height: 500px; display:block; background-color: blue")
  a(href='/pages' style="color: black;")
    img(src='/images/SGNLogoAlpha.png' alt='ICON IMG' style="display:inline-block; content-top: 5px; border-bottom: 5px; margin:50px 0px 20px 20px;width: 120px;height: auto;")
    h6(style="display:inline-block; color: black;")= title

block content

  script.
    var socket = io() // declare a socket to use for updating all other users on the board
    let currUser = "#{currUserId}"
    function renderBoard() {
      // gets last path which is id
      var pathname = window.location.pathname.substring(window.location.pathname.lastIndexOf('/') + 1); 
      $.post("../list_posts", {'id': pathname}, function(ret, txtstat, xhr) {

        function getComments(comment_list) {
          return comment_list.map(function (comment, cid) {
            return `
              <div id="comment_block">
                <h6 id="comment_author">
                  ${comment.owner.username}
                </h6>
                <p id="comment_txt"> ${comment.txt_cont} </p>
                <div id="comment_block2">
                  <p id="comment_datestr"> ${comment.createdStr} </p>
                </div>
              </div>
            `
          }).join('');
        }

        let selectedCommentId = "#{pass2View.postId}"
        let relation = "#{relation}"
        let public = "#{access.PUBLIC}"
        let del_action = "#{requrl}".split('?')
        del_action = del_action[0] + "?hard=del_one_post"

        let content = `
        <div id="postsDiv">
          <dl id="all_postList">
          ${ret.map(function(post, pid) {
            return `
            <div id="post_card">
              ${relation == public ? '' : `
              <div id="delete_post">
                <form class="deletepostform" method="POST" action="${del_action}">
                  <input id="del_one_post_button${pid}" type="image" src="/images/32pxGrey.png" name="hard" value="del_one_post"/>
                  <input type="hidden" name="marked_post" value="${post._id}"/>
                  <input type="hidden" name="hard" value="del_one_post"/>
                </form>
              </div>
              `}
              <dt> ${post.owner.username} </dt>
              <p id="date_str"> ${post.createdStr} </p>
              <dd> ${post.txt_cont} </dd>
              <br/>
              <br/>
              ${selectedCommentId == post._id ? `
              <form id="reply_post${pid}" action="" method="POST"> 
                <textarea type="text" name="commentTxt" style="display: block; width: 100%"></textarea>
                <button class="reply_button" type="submit" name='soft' value="reply_post"> Reply </button>
                <input id="reply_in" type="hidden" name="soft" value="reply_post" />
                <input type="hidden" name="postid" value="${post._id}"/>
              </form>
              ` : ''}

              <form id="reply_get${pid}" method="POST" action="">
                <input id="reply_in${pid}" type="hidden" name="soft" value="reply_display"/>
                <input type="hidden" name="postid" value="${post._id}"/>
              </form>
              ${relation == public ? '' : `
                <div class="card_actions">
                  <span class="post_reply active" data-color="#7ed6df" data-pic="url(re_icon48.png)" data-text="Reply" data-formref="reply_get${pid}">
                    <img src="/images/re_icon48.png" alt="REPLY ICO"/>
                  </span>
                  <span class="post_like" data-color="#ff7979" data-pic="url(like_icon32.png)" data-text="Like">
                    <img src="/images/like_icon32.png" alt="LIKE ICO"/>
                  </span>
                  <span class="post_options" data-color="#badc58" data-pic="url(3.png)" data-text="Option"></span>
                  <span class="post_edit" data-color="#f9ca24" data-pic="url(1.png)" data-text="Edit"></span>
                </div>
              `}
              ${getComments(post.comment_list)}
            </div>
            `
            }).join('')
          }
          ${ret.length == 0 ? `<p>There are no posts in this board</p>` : ''}
          </dl>
        </div>
        `
        $('#post_load').html(content)

        $(document).ready(function() {
          
          $('#reply_post').submit(function() {
            $('#reply_button').prop("disabled", true).css('opacity',0.5);
          });

          $(".post_reply").click(function() {
            let formstr = "#" + $(this).attr("data-formref")
            $(formstr).submit();
          });

          $(".card_actions span").hover(function() {
            $(".card_actions span").removeClass("active");
            $(this).addClass("active");
          });

          $(".card_actions span").click(function() {
            $(".card_actions span").removeClass("clicked");
            $(this).addClass("clicked");
            //$("#action_button").css("background", $(this).attr("data-color"));
            //$("#action_button").html($(this).attr("data-text"));
            //$("#post_card").css("color", $(this).attr("data-color"));
          });

          $(".deletepostform").submit(function(eventHandler) {
            if (currUser != null)
            {
              //$('#del_one_post_button').prop("disabled", true).css('opacity',0.5);
              let obj = { userid: currUser, sockid: socket.id };
              socket.emit('chat update', obj)
            }
          });

          // "../pee" , by default, __dirname points to routes folder
          //$("#post_load").load("../list_posts", {'id': pathname}, function(resTxt, txtstat, xhr) {
            //alert(txtstat);
          //});
        });
      });
    }

    function renderPostForm() {
      let content = `
        <div class="card" style="width: 50%; height: 500px;" name="dummyframe" id="dummyframe" border="2px">
          <form method="POST" action="" id="postform">
            <textarea id="posttxtArea" type="text" name="posttxt" style="width: 85%; height: 25%; position: absolute; transform: translate(-50%, -50%); left:50%; top:80%"></textarea>
            <input type="hidden" name='soft' value="compose_new" />
          </form>
          <form method="GET" id="closepostform"><input id="close_comp" type="image" form="closepostform" src="/images/32pxGrey.png" /></form>
        </div>
        <button id="post_button" form="postform" type='submit' name='soft' value="post_new" style="display:block; margin:20px">POST</button>
      `

      $('#postform_load').html(content)
    }

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")

  - let sockMsg = null
  span(id="sockMsg" data-msg=undefined)

  //- var shit = include ./errormsg.pug

  script.
    renderBoard();

    socket.on('chat update', function(msg) {
      renderBoard();
      $('#post_button').prop("disabled", false).css('opacity',1);
    });

    socket.on('chat delete', function(msg) {
      //window.location.href = window.location.href + '&reload=1';
      //$('#refresh').submit()
      console.log("reviec")
      //$('#sockMsg').attr("data-msg") =  msg
      sockMsg = msg
      //#{sockMsg} = msg

      /*$(document).ready(function() {
        console.log("dsf")
        $("#post_load").load("postload.pug", null, function(resTxt, txtstat, xhr) {
          alert(textStatus);
        });
      });*/

    });

  h1 #{userName}
  p #{user.lifespan}

  div(style='margin-left:20px;margin-top:10px;position: relative;')
    
    h4 Recent Posts From This Month
    
    div#post_load

        script.
          var it = !{JSON.stringify(isPressed)}
          it.up = true

        script.
          var activate = function() {
            it.up = true
          }
      
    if (currUser && currUser.url != user.url && (relation == access.PUBLIC))
      form(method='GET' action='')
        div.form-group
          <button class="btn btn-blue btn-lg btn-outline-info" id="know_button", type='submit', name='soft', value="know_new">KNOW!</button>

    // If signed in user eqls the user page's user
    if (currUser && currUser.url == user.url) || (currUser && currUser.url != user.url && relation == access.PRIVATE )

      // # in action no longer required in HTML5
      form(id="get_compose" method='GET' action='')
        div.form-group
          <button id="compose_button", type='submit', name='soft', value="compose_new", onclick="activate()">Create Post</button>

      script.
        $('#get_compose').submit(function(e) {
          e.preventDefault();
          let formData = {
            soft: "compose_new"
          }

          /*$.ajax({
            url: window.location.pathname,
            data: formData,
            processData: false,
            contentType: "application/json; charset=utf-8",
            type: 'POST',
              success: function(data){
                console.log(data)
              }
            });*/
          $.get('', formData, function(resp) {
            renderPostForm();
            $(document).ready(function() {
              //$('#compose_button').prop("disabled", true).css('opacity',0.5);
              //document.getElementById("post_button").scrollIntoView()
              $('#postform').submit(function(eventHand) {
                $('#post_button').prop("disabled", true).css('opacity',0.5);
                eventHand.preventDefault(); // prevents page reloading
                //let formData = new FormData(document.getElementById("postform"));
                let formData = {
                  posttxt: $("#posttxtArea").val(), 
                  soft: "compose_new"
                }
                
                $.post('', formData, function(resp) {
                });

                $("#posttxtArea").val("")

                let obj = { userid: "#{currUserId}", sockid: socket.id };
                socket.emit('chat update', obj)
              });
            });
          });
        });

      //if isPressed.up == true
      div#postform_load

      a(href='/pages/log-out') LOG OUT
  
  hr
  p
    a(href=user.url+'/delete') Delete author
  p
    a(href=user.url+'/update') Update author

  form(method='GET' action='' id="refresh")
